@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #F7AEFF;
}

p {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b467e9;
}

h1 {
    text-align: center;
    font-family: cursive;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #F7AEFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F7AEFF;
}
